$orange: #FA9148;
* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f4f1de;
  color: #3d405b;
  max-height: 100vh;
}

input, textarea{
  font-family: 'Source Sans Pro', sans-serif;
}

